@model User;
@{
ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/translator">
        <img src="~/images/yoda.jpg" width="140" height="90" class="d-inline-block" alt="">
        YodaChat
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/translator">Translator<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/chatroom">Chat Room</a>
            <form asp-action="Logout" asp-controller="Home" method="POST">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">


    <div class="row">
        <div>&nbsp;</div>
        <div id="messagesDiv" class="row" style="max-height: 50vh; width: 100%;">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <div>&nbsp;</div>
    <div class="row form-group">
        <input class="form-control" type="hidden" id="userInput" value="@Model.FirstName @Model.LastName" />
        <input type="hidden" id="userid" value="@Model.UserId">
        <div class="col-10">
            <input class="form-control" style="margin-left: 15px;" type="text" id="messageInput"
                placeholder="Type a message here" />
        </div>
        <div class="col-2">
            <button style="margin-left: 10px;" class="btn btn-primary" type="button" id="sendButton"
                value="Send Message">Send Message</button>
        </div>


    </div>

</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script></script>
</script>