@model User;
@{
ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="~/images/yoda.jpg" width="70" height="70" class="d-inline-block" alt="">
        YodaChat
    </a>
</nav>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6 form-group">
            <input type="hidden" id="userInput" value="@Model.FirstName" />
            <br />
            @Model.FirstName:<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>