<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
        <img src="~/images/yoda.jpg" width="140" height="90" class="d-inline-block" alt="">
        YodaChat
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/translator">Translator</a>
            <a class="nav-item nav-link active" href="/chatroom">Chat Room</a>
            <form asp-action="Logout" asp-controller="Home" method="POST">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="card bg-dark text-white">
    <img src="~/images/yoda3.jpg" class="card-img" alt="img">
    <div class="card-img-overlay">
        <h2 class="card-title">Yoda Translator</h2>
        <p class="card-text">Know how to speak Yoda, you want? Translate, I will!</p>
        <form id="translationboomer">
            <div class="row">
                <div class="col-3">
                    <input id="text" class="form-control" placeholder="Type here!">
                </div>
                <div class="col-2">
                    <button id="button" type="submit" class="btn btn-dark">Translate</button>
                </div>
            </div>
        </form>
        <h2 style="margin-top: 20px;" id="translation"></h2>
    </div>
</div>
<script>

    document.getElementById("translationboomer").addEventListener("submit", function (event) {
        event.preventDefault();
        var input = $("#text").val();
        const encodedMessage = encodeURIComponent(input);
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://yodish.p.rapidapi.com/yoda.json?text=" + encodedMessage,
            "method": "POST",
            "headers": {
                "x-rapidapi-host": "yodish.p.rapidapi.com",
                "x-rapidapi-key": "e9077e6ee9mshe29568a25c117e8p111788jsn2ad418d390bc",
                "content-type": "application/x-www-form-urlencoded"
            },
            "data": {}
        }

        $.ajax(settings).done(response => {
            return response;
        }).then(data => {
            var translation = data.contents.translated;
            $("#translation").text(translation);
        });
    });
</script>